
.main{
    display: flex;
    margin: 100px;
    gap: 20px;
    justify-content: center;
}
.image{
    width: 100px;
    height: 100px;
    /* object-fit: contain;
    display: none; */
}

.image img{
     width: 100px;
    height: 100px;
    object-fit: contain;
    /* display: none; */
}
